.dashboard-header {
	width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
}

.dropdown-label {
	font-size: 25px;
	margin-right: 10px;
	margin-left: 5px;
	color: white;
}

.grid-header {
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 0px;
	margin: 5px;
}

.grid {
	border: 2px solid #ddd;
	background-color: black;
}

.card-title {
	color: black;
	text-align: center;
	font-size: 15px;
}

.card {
	border: 7px solid gold;
	height: 100px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	flex: 1;
	background-color: white;
}

.card-row {
	display: flex;
}

.card-text {
	color: black;
	text-align: center;
	font-size: 15px;
}

.grid-header-2 {
	color: white;
	text-align: left;
	font-size: 15px;
	padding: 0px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');
body { font-family: 'Orbitron', sans-serif; }